.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category {
  font-size: 15px;
  margin-left: 13%;
  color: rgb(255,255,255);
  font-weight: bold;
  margin-top: 1%;
}

.dataEntry {
  width: 75%;
  height: 45%;
  margin-left: 12.5%;
  font-size: 12px;
  border-radius: 5px;
}

.holder {
  position: relative;
  width: 100%;
  height: 30%;
  display: block;
}

.wrapper {
  vertical-align: bottom;
  display: table-cell;
  height: 40%;
  position: absolute;
  width: 50%;
  top: 7%;
}

.add-grad-page {
  position: relative;
  display: block;
}
#datepickr{
    margin-left: 4.25vw;
    width: 25vw;
}

